extends ../layout

block content
  h1 Update Book
  form(method='post', action='/books/' + book.id)
    include form
    p
      input(type='submit', name='update', value='Update Book')
  form(method='post', action='/books/' + book.id + '/delete')
    p
      input(type='submit', name='delete' value='Delete')
    p
      a.button(href='/books') Cancel

